.post-img{
    height: 45px;
} 

.post-img img{
    width:100%;


}

.form-box input,textarea{
    width:44vw;
    padding:5px 4px;

}
.contact-form{

    height:80vh;

}
.form-box{
    margin-left: 23rem;
}
.content-left1 h1{

    margin-left: 36rem;
}

 .btn1{
   

    color:rgb(70, 40, 220);
      font-weight: bolder;
  
  margin-left: 34rem;
  position :relative;
  
  
  
  }
  .btn1{
    cursor: pointer;
        border-radius: 10px;
        background-color: blue;
        padding:8px 15px;
        border:2px solid black;
        
        font-family: 'Times New Roman', Times, serif;
    transition:all 0.3s ease-in-out;
    }
.btn1:hover{
        background-color:var(--main-bg-color);
        color:white;
        
        }
  
  .form-box button{
      margin-left: 34rem;
      position :relative;
  }

  .form-box input {
    margin: 23px;
    margin-right: 34rem;

justify-content: center;
  
  }

  .form-box{
    margin-right: 34px;
  }

  .form-box{
    margin-left: 23rem;
}



